extends layout

block content
  header
    div.navbar
      div.navbar-inner
        a.brand Later ±
        ul.nav
          li.active
            a Read
          li
            a Watch
          li
            a Setting
          li
            a(href='http://github.com/mootoh/latrend') Code

  div.container
    div.row
      div.span8
        h3 Count
        div.chart_container#count
          div.y_axis
          div.chart
          div.legend

        h3 Velocity
        div.chart_container#velocity
          div.y_axis
          div.chart
          div.legend

      div.span4
        script
        - var latest = stats[0];
        - var prev = stats[1] ? stats[1] : {unread:0, archived:0, total:0};

        div
          h2 Latest Update
          - function diff(num) { if (num > 0) return '+' + num; if (num < 0) return '-' + num; return num; }
          ul
            li Added Unread: #{latest.unread} (#{diff(latest.unread - prev.unread)})
            li Archived: #{latest.archived} (#{diff(latest.archived - prev.archived)})
            li Total: #{latest.total} (#{diff(latest.total - prev.total)})
            li Updated: #{latest.fromNow}
