extends layout

block content
  header
    div.navbar
      div.navbar-inner
        a.brand Later
        ul.nav
          li.active
            a You
          li
            a Setting

  div.container
    - var latest = stats[0];
    div
      h2 Latest
      ul
        li Added Unread: #{latest.unread}
        li Archived: #{latest.archived}
        li Total: #{latest.total}
        li Updated: #{latest.date}
    div
      h2 Diff from last Update
      - var prev = stats[1];
      ul
        li Unread: #{latest.unread - prev.unread}
        li Archived: #{latest.archived - prev.archived}
        li Total: #{latest.total - prev.total}
        li Diff From: #{new Date(prev.date)}